.container1 {
    width: 390px;
    min-height: 60px;
    /* Alterado de height para min-height para permitir expansão */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;
    margin-top: 20px;
    padding: 5px;

    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    /* Adicionado padding para dar mais espaço aos elementos internos */
}

.label {
    width: 250px;
    height: 25px;
    color: white;
    line-height: 25px;
    /* Adicionado para centralizar o texto verticalmente */
    text-align: center;
    /* Adicionado para centralizar o texto horizontalmente */
}

#btnLixeira {
    width: 35px;
    height: 35px;
    padding: 0px;
    border: none;
    cursor: pointer;
    display: flex;
    background-color: rgb(139, 139, 139);
    /* Adicionado para centralizar o ícone da lixeira */
    justify-content: center;
    /* Adicionado para centralizar o ícone da lixeira */
    align-items: center;
    /* Adicionado para centralizar o ícone da lixeira */
}

#icon-lixeira {
    width: 100%;
}